name: Slack Push Notification

on:
  push:
    branches: [ main, develop ]  # 알림을 받을 브랜치 지정

jobs:
  notify:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Send Slack Notification
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}
        SLACK_CHANNEL: 'C09DC2W6YBD'  # 채널명 또는 채널 ID
        SLACK_COLOR: ${{ job.status }}
        SLACK_MESSAGE: |
           새로운 Push 이벤트가 발생했습니다!
          Repository: ${{ github.repository }}
          Branch: ${{ github.ref_name }}
          Commit: ${{ github.event.head_commit.message }}
          Author: ${{ github.actor }}
        SLACK_TITLE: GitHub Push Notification
        SLACK_USERNAME: GitHub Bot